<div class="container">
  <div class="row mt-3">
    <div class="col-md-5"></div>
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class='form-control input-ingredient' placeholder="Search Ingredient">
      </div>

    </div>
    <div class="col-md-3">
      <button class="btn btn-primary search-ingredient">Search</button>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('.search-ingredient').on('click', function () {
      var ingredient = $('.input-ingredient').val();
      $.ajax({
        type: 'GET',
        crossDomain: true,
        // dataType: 'jsonp',
        url: 'http://localhost:8080/details?type=3' + '&name=Magnesium',
        success: function (data) {

          console.log(data);
        }
      })
    })
  });
</script>