<style>
  #accordion {
    font-family: 'Source Sans Pro', sans-serif;
    x
  }
</style>
<div class="container">
  <div class="row mt-3">
    <div class="col-md-5 ingredient-name"></div>
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class='form-control input-ingredient' list="ingredients" placeholder="Search Ingredient"
          autocomplete="off">
        <datalist id="ingredients"></datalist>
      </div>

    </div>
    <div class="col-md-3">
      <button class="btn btn-primary search-ingredient">Search</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div id="accordion">

      </div>
    </div>
    <div class="col-md-1"></div>

  </div>
</div>
<script>
  $(document).ready(function () {
    $("#accordion").accordion({ heightStyle: "content" });
    $('.input-ingredient').on("change paste input", function () {
      var inputName = $('.input-ingredient').val();
      $.ajax({
        type: 'GET',
        crossDomain: true,
        // dataType: 'jsonp',
        url: 'http://localhost:8080/KeyWords?type=3&name=' + inputName,
        success: function (jsondata) {
          console.log(jsondata);
          $("#ingredients").empty();
          $.each(jsondata, function (key, value) {
            $("#ingredients").append("<option value=\"" + value + "\">")
          });
        }
      })
    });

    $('.search-ingredient').on('click', function () {
      var ingredient = $('.input-ingredient').val();
      var flag = false;
      $.ajax({
        type: 'GET',
        crossDomain: true,
        // dataType: 'jsonp',
        url: 'http://localhost:8080/detail?type=3&name=' + ingredient,
        success: function (data) {
          $('.input-ingredient').val('');
          $('.ingredient-name').html('');
          $('.ingredient-name').append("<h3>" + data.name + "</h3>")
          $('#accordion').html('');
          // console.log(data.name);
          $.each(data, function (i, obj) {
            if (i == "name" || i == "ui" || i == "umls_semantic_type") {
              //continue
            } else {
              flag = true;
              $('#accordion').append("<h3>" + i + "</h3><div><p>" + obj + "</p></div>");
              $("#accordion").accordion('refresh');
            }

          });
          if (flag == false) {
            $('#accordion').append("<p> No content available </p>");
          }
        }
      });
    });

    //accordian
  });
</script>